#CONTAINER-NAME
CONTAINER_NAME=hibiscus-fedora45

#default-preset: 8000
HIBISCUS_FEDORA45_MCP_PUBLISH_PORT=8000

#default-preset: hibiscus-fedora45-jameica:/var/lib/hibiscus/.jameica:Z
#required: Persistent Jameica user data
HIBISCUS_FEDORA45_JAMEICA_VOLUMES=hibiscus-fedora45-jameica:/var/lib/hibiscus/.jameica:Z

#default-preset: hibiscus-fedora45-cfg:/usr/local/hibiscus/cfg:Z
#required: Persistent Hibiscus server configuration
HIBISCUS_FEDORA45_CFG_VOLUMES=hibiscus-fedora45-cfg:/usr/local/hibiscus/cfg:Z

#repeat-group: ADDITIONAL_LINE suffix02 ADDITIONAL_LINE
#repeat-freeform: ADDITIONAL_LINE
ADDITIONAL_LINE=
